@font-face {
	font-family: "TechnaSans";
	src: url(https://github.com/carlstype/techna-sans.git) format("truetype");
}
nav {
	padding: 0px 0px 0px 10px;
}
.card {
	height: 50%;
	width: auto;
}
.headshot {
	width: 400px;
	height: 600px;
}
div.sticky {
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	bottom: 0;
	padding: 20px;
}
a :hover {
	opacity: 0.5;
}

.collapsible {
	background-color: black;
	border: none !important;
}
/*Image Gallery*/

div.gallery {
	border: none;
	margin: auto;
	width: 90%;
}
div.img:hover {
	opacity: 0.5;
}
div.gallery img {
	width: 20%;
	height: auto;
	border: 2px solid white;
}
div.desc {
	padding: 15px;
	text-align: center;
	color: #fff;
	font-size: 150%;
}
* {
	box-sizing: border-box;
}
.responsive {
	padding: 0 6px;
	float: center;
}
@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}
@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.contact {
	text-align: center;
}
/*Social Media Icons*/

/*Not working
td.fa {
	color: white !important;
}
*/

.fa:hover {
	opacity: 0.5;
}
.fa-linkedin {
	background: transparent;
	color: white;
}
.fa-instagram {
	background: transparent;
	color: white;
}
.fa-facebook {
	background: transparent;
	color: white;
}
.fa {
	color: white;
	font-size: 170% !important;
	padding: 10px;
	width: 60px;
	text-decoration: none;
	margin: 5px 5px;
}

#copyright {align-content: center}