@font-face {
    font-family: "TechnaSans";
    src: url(https://github.com/carlstype/techna-sans.git) format("truetype");
  }

header {
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.cover-img {
    width: 100%;
}

table {
    width: 100%;
    text-indent: 0%;
}

.icons {
    width: 60% !important;
    margin-left: 20%;
    margin-right: 20%;
}

body {
    text-align: center;
    align-self: center;
    width: 90%;
    margin: 5%;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

ul {
    list-style-type: none;
    text-indent: 0%;
}

h2 {
    color: #94BEFE;
    text-align: center;
    font-size: 200%;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 300%;
}

p {
    color: lightgray;
    font-size: 150%
}

.description {
    text-align: center;
}

h3 {
    color: #fff;
    text-align: center;
    font-size: 150%;
}

.topics {
    margin-left: 40%;
    margin-right: 40%;
}

#left {
    text-align: left;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}

.headshot {
    width: 25%;
    border-color: #94BEFE;
    border-width: 3pt;
}

.contact {
    text-align: center;
}

/*Social Media Icons*/
.fa:hover {
    opacity: 0.5;
}

.fa-linkedin {
    background: transparent;
    color: white;
}

.fa-instagram {
    background: transparent;
    color: white;
}

.fa-facebook {
    background: transparent;
    color: white;
}

.fa {
    font-size: 150% !important;
    padding: 20px;
    width: 60px;
    text-decoration: none;
    margin: 5px 80px;
}

.faq-page {
    margin-bottom: 100px;
}

hr {
    width: 60%;
    border-top: 4px solid #94BEFE;
}

footer {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #000;
    color: #fff;
}