@font-face {
	font-family: "TechnaSans";
	src: url(https://github.com/carlstype/techna-sans.git) format("truetype");
}
nav {
	padding: 0px 0px 0px 10px;
}

@media only screen and (max-width: 1000px) {
	.slideshow-container {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 700px) {
	.slideshow-container {
		width: 100%;
		height: 75%;
	}
}
@media only screen and (max-width: 500px) {
	.slideshow-container {
		width: 100%;
		height: 60%;
	}
}
@media only screen and (max-width: 300px) {
	.slideshow-container {
		width: 100%;
		height: 50%;
	}
}


.mySlides {display: none;}

.slideshow-container img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}

/* Slideshow container */
.slideshow-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	margin: none;
  }

  /* Number text (1/3 etc) */
.numbertext {
	color: #d9d9d9;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }

  /* The dots/bullets/indicators */
.dot {
	height: 15px;
	width: 15px;
	margin: 0 10px;
	background-color: #d9d9d9;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active {
	background-color: #90caf9 !important;
  }

  .slider .indicators .indicator-item.active {
	background-color: #90caf9 !important;
}

.carousel .indicators .indicator-item.active {
	background-color: #90caf9 !important;
}

  /* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }

.card {
	height: 50%;
	width: auto;
}
.headshot {
	width: 400px;
	height: 600px;
}
div.sticky {
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	bottom: 0;
	padding: 20px;
}
a :hover {
	opacity: 0.5;
}

.collapsible {
	background-color: black;
	border: none !important;
}
/*Image Gallery*/

div.gallery {
	border: none;
	margin: auto;
	width: 90%;
}
div.img:hover {
	opacity: 0.5;
}
div.gallery img {
	width: 20%;
	height: auto;
	border: 2px solid white;
}
div.desc {
	padding: 15px;
	text-align: center;
	color: #fff;
	font-size: 150%;
}
* {
	box-sizing: border-box;
}
.responsive {
	padding: 0 6px;
	float: center;
}
@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}
@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.contact {
	text-align: center;
}
/* label color */
.input-field label {
	color: #fff !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
	color: #fff !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
	border-bottom: 1px solid #90caf9 !important;
	box-shadow: 0 1px 0 0 #90caf9 !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
	border-bottom: 1px solid #4caf50 !important;
	box-shadow: 0 1px 0 0 #4caf50 !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
	border-bottom: 1px solid #f44336 !important;
	box-shadow: 0 1px 0 0 #f44336 !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
	color: #90caf9 !important;
  }

/*Social Media Icons*/

/*Not working
td.fa {
	color: white !important;
}
*/

.fa:hover {
	opacity: 0.5;
}
.fa-linkedin {
	background: transparent;
	color: white;
}
.fa-instagram {
	background: transparent;
	color: white;
}
.fa-facebook {
	background: transparent;
	color: white;
}
.fa {
	color: white;
	font-size: 170% !important;
	padding: 10px;
	width: 60px;
	text-decoration: none;
	margin: 5px 5px;
}

/* image gallery */
#image_list li {
    padding-right: 10px;
    display: inline;
}

input[type=text] {
    font-size: 25px !important;
	color: #90caf9;
}

#copyright {align-content: center}